<div class="d-flex justify-content-center">
    <div class="col-md-5 mt-4">
        <form action="javascript:crearRol();" id="formaRol" class="validarFormulario" novalidate>
            <div class="card">
                <div class="card-header">
                    Agregar un nuevo Artista
                </div>

                <div class="card-body">

                    <div class="mb-3">
                        <label for="nom" class="form-label">Nombre del Artista</label>
                        <input type="text" class="form-control" id="nom" required />
                    </div>

                <div class="card-footer text-muted">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center">

    <div class="col-md-5 mt-4">
        <div class="alert alert-primary" id="rolMsgOk" style="display: none;">
            Artista almacenado correctamente
        </div>

        <div class="alert alert-danger" id="rolMsgError" style="display: none;">
            El Artista no se pudo crear en la base de datos
        </div>
    </div>

</div>