<div class="d-flex justify-content-center">
    <div class="col-md-6 p-5 mt-5 text-bg-dark rounded-3">
        <h2 class="tituloProyecto">La Rockola</h2>
        <p>
            En la Rockola podrás encontrar tu música favorita solo a un click de distancia. 
            <br /><br />
            <i class="fa-solid fa-check fa-lg check-amarillo"></i>&nbsp;
            Grupos O27 y O44
        </p>
    </div>
</div>